[Desktop Entry]
Name=PockIt
Exec=qmlscene $@ Main.qml
Icon=Pocket.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#ffffff

